[Unit]
Description=Run registry container
After=network-online.target
Requires=network-online.target
StartLimitIntervalSec=5
StartLimitBurst=2

[Service]
ExecStart=/usr/bin/docker run --rm -p 5000:5000 -v /opt/registry/log:/var/log/registry -v /opt/registry/auth:/auth --name registry --env-file /opt/registry/.env registry:{{ registry_version }}

ExecStop=/usr/bin/docker stop registry

WorkingDirectory=/opt/registry
StandardOutput=journal+console
User=registry
Group=registry
TimeoutSec=120
Restart=on-failure

[Install]
WantedBy=multi-user.target
